<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guet.newsproject.mapper.CommentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.guet.newsproject.entity.Comments">
        <id column="cid" property="cid" />
        <result column="cnid" property="cnid" />
        <result column="ccontent" property="ccontent" />
        <result column="cdate" property="cdate" />
        <result column="cip" property="cip" />
        <result column="cauthor" property="cauthor" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cid, cnid, ccontent, cdate, cip, cauthor
    </sql>

</mapper>
